root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{ts,tsx,js,jsx,json,jsonc,css,scss,html,yml,yaml}]
indent_size = 2

[*.{cs,csproj,sln,xml}]
indent_size = 4

[*.py]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
